.container {
  height: 100vh;
}

.messages-field{
  height: 80vh !important;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  background-color: cadetblue;

  .messages {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background-color: #cfe8fc;
  }
}
